*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$pad: 10px;

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.grid {
  margin: 0em auto;
  padding-left: 0%;
  padding-right: 0%;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='grid-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  }
}


.module {
  padding: $pad;
  background: #eee;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

// Medium screens

@media only screen and (min-width: 40.0625em) and (max-width:64em) {


  .grid {
    margin: 0;

  }

  [class*='grid-'] {
    float: left;
    padding-right: 0;
    .grid &:last-of-type {
    }
  }

} /* min-width 641px to max-width 1024px */


// Large screens

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {



  .grid {
    margin: 0;

  }
} /* min-width 1025px to max-width 1440px */


// xtra-Large screens

@media only screen and (min-width: 90.0625em) {

  .grid {
    margin: 0;

  }
} /* min-width 1441px */



