button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  margin: 0;
  background-color: $color__link_secondary;
  width: auto;
  transition: background-color 1s ease;
  border: none;
  color: #ffffff;
  margin-left: 4px;
  padding: 10px 16px;
  font-family: $font__headings;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: $color__border-button-hover;
  color: darken($color__background_red, 70%);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: $color__border-button-focus;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

// Medium screens

@media only screen and (min-width: 40.0625em) and (max-width:64em) {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    padding: 10px 16px;
  }
}
// Large screens

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    padding: 14px 20px;
  }
}

// xtra-Large screens

@media only screen and (min-width: 90.0625em) {

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    padding: 14px 20px;
  }
}
