$font__main: "proxima-nova", serif;
$font__headings: "adobe-caslon-pro", serif;
$font__headings_secondary: "proxima-nova-condensed", sans-serif;
$font__serif-elements: "ff-meta-serif-web-pro", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;