.home .head {

}
.home .site-header a{

}
html .home {
  margin-top: 0;
}

.masthead-image img {
  margin: 2em auto 1.6em;
}
#site-description {
  background-color: $color__background_blue;
}
.front-skills-text-1 {
  background-color: $color__background_blue;
  color: #3f3f3f;
}
.front-skills-text-2 {
  background-color: $color__background_orange;



}
#site-description h1 {
  font-weight: 600;
  @include font-size(3.4);
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
  font-family: $font__main;
  letter-spacing: 0em;
  margin: 0 auto;
  text-align: center;
  padding-top: 40%;
  padding-bottom: 40%;

}

#site-description-2 {
  padding-bottom: 6%;

  background-color: #efefef;
}
#site-description-3 {
  background-color: #efefef;
}

#site-description-4 {
  border-top: 1px solid #222;
}
#skills-content {

}
.site-description {
  margin-top: 2em;
}
.front-audit-care {
  width: 100%;
}

 // Medium screens

  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {

    .masthead img {
      margin: 2em auto 4em;
    }
    #site-description h1 {
      @include font-size(4.1);
      line-height: 1.4;
      padding-top: 29%;
      padding-bottom: 29%;
    }

    #site-description-2 {
      padding-bottom: 8%;
      border-top: 1px solid #787878;
    }

    .skills-image-front {
      width: 10%;
      padding-bottom: 2.6em;
    }

  }  /* min-width 641px to max-width 1024px */


  // Large screens

  @media only screen and (min-width: 64.0625em) and (max-width: 90em) {

    .mastheadimage img {
      margin: 2.6em 0 2.2em;
    }

    #site-description h1 {
      @include font-size(6.0);
      line-height: 1.3;
      padding-top: 30%;
      padding-bottom: 30%;
    }

    .front-content {
      margin-top: 4em;
    }
    #site-description-2 {
      padding-bottom: 10.5%;
      border-top: 1px solid #787878;
    }

    .front-skills-text-1, .front-skills-text-2 {
      height: auto;
    }
    .front-skills-text-1 {
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      border-right: 2px solid #fff;
      border-left: 4px solid #fff;
    }
    .front-skills-text-2 {
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
      border-left: 2px solid #fff;
    }
    .front-audit-care {
      width: 50%;
    }


  } /* min-width 1025px to max-width 1440px */

  // xtra-Large screens

  @media only screen and (min-width: 90.0625em) {
    .masthead {
      width: 100%;
    }
    .masthead-description {
      width: 100%;
    }
    .masthead-image {
      width: 30%;
      margin: 0 auto;
    }

    .masthead-image img {
      margin: 2em auto 4em;
    }
    #site-description h1 {
      @include font-size(7.2);
      line-height: 1.5;
      letter-spacing: 0em;
      width: 100%;
      padding-top: 28%;
      padding-bottom: 28%;

    }
    #site-description-2 {
      padding-bottom: 6%;
      border-top: 1px solid #787878;
    }
    .front-skills-text-1, .front-skills-text-2 {
      height: auto;
    }
    .front-skills-text-1 {
      border-top: 8px solid #fff;
      border-bottom: 8px solid #fff;
      border-right: 6px solid #fff;
      border-left: 8px solid #fff;
    }
    .front-skills-text-2 {
      border-top: 8px solid #fff;
      border-bottom: 8px solid #fff;
      border-right: 8px solid #fff;
      border-left: 4px solid #fff;
    }

    .front-audit-care {
      width: 50%;
    }
    .skills-image-front {
      width: 19%;
      padding-bottom: 1em;
    }



} /* min-width 1440px */