
.front-description-header {
  margin: 2% auto 6%;
}
.front-description-text h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.front-description-text p {
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 1.6;
}
.home-main-thumb {

}


.frontpage-button-link {
  display: block;
  position: relative;
  font-family: $font__headings_secondary;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 3%;
  margin-bottom: 7%;
}

.home-description-list {
  padding: 0rem 0rem 1.2rem;
  font-family: $font__headings;
  font-weight: 300;
  font-size: 1.5rem;
  color: $color__text-main;
  line-height: 1.5;
  text-transform: none;

}

.frontpage-links  {
  border-top: 1px solid #222;
  padding: 1rem 0;
  color: #222;
}
.frontpage-links a {
  color: #222;
}
.frontpage-links h3 {
  padding: 0.6rem 0 0.6rem;
  margin-bottom: 0;
}
.front-work, .frontblog {

}
.front-work h1, .frontblog h1, .front-work h3, .frontblog h3 {
  padding-bottom: 0.5rem;
  max-width: 100%;
  padding-left: 5%;
}

.recent-work-3 {
  border-bottom: 3px solid #222;
}

#frontpage-description h1 {
  max-width: 100%;
}
#frontpage-description-2 p {
  margin: 0.7rem 0 0rem;
}
#frontpage-description-2 {
  clear: both;
}

.front-work h1, .frontblog h1  {
  max-width: 30%;
}


// Medium screens

@media only screen and (min-width: 40.0625em) and (max-width:64em) {

  .frontpage-button-link {
    text-align: center;
    font-size: 1rem;
    margin-top: 3%;
    margin-bottom: 7%;
    width: 80%;
  }
  #frontpage-description h1 {
  }
  .front-work h1, .frontblog h1, .front-work h3, .frontblog h3 {
    padding-bottom: 0rem;
    padding-left: 5%;
  }

} /* min-width 641px to max-width 1024px */


// Large screens

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {


  .frontpage-button-link {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3%;
    margin-bottom: 7%;
    width: 80%;
  }
  #frontpage-description h1 {
  }
  .front-work h1, .frontblog h1, .front-work h3, .frontblog h3 {
    padding-bottom: 0rem;
    padding-left: 0%;
  }



} /* min-width 1025px to max-width 1440px */


// xtra-Large screens

@media only screen and (min-width: 90.0625em) {

  .frontpage-button-link {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 66%;
  }
  #frontpage-description h1 {
  }

  .frontpage-links {
    padding: 1rem 0 1rem;
  }
  .front-work h1, .frontblog h1, .front-work h3, .frontblog h3 {
    padding-bottom: 0rem;
    padding-left: 0%;
  }



} /* min-width 144 */


