// Layout


.hentry {
  margin: 0 0 1.5em;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 0.5em 0 0;
}

.row-top-pad, .row-tb-pad {
  padding-top: 12%;
}
.row-bottom-pad, .row-tb-pad, .single-blog  {
  padding-bottom: 8%;
}

.text-content-area {
  max-width: 530px;
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.split-content-area {
  max-width: 530px;
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
}

.image-content-area {
  max-width: 900px;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 90%;
}

// page-wpcare

.skills-area {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.skills-image {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0em;
}
.skills-area > * {
  padding: 0px;
}

.front-skills {
  flex: 1 auto;
  width: 100%;
}

.front-skills-text {
  padding-top: 11%;
  padding-bottom: 8%;
  overflow: auto;
  h2 {
    padding: 0em 0 0.7em;
    color: #fff;
    letter-spacing: 0em;
    line-height: 1.3;
    margin-bottom: 0em;
    @include font-size(1.8);
    text-decoration: underline;
    font-family: $font__main, sans-serif;
  }
  p {
    color: #fff;
    font-style: normal;
  }
  a {
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    color: #fff;
    text-align: left;
    font-weight: 700;
    text-decoration: underline;
    text-transform: none;
  }
  a:hover {
    color: darken(#fff, 10%);
  }
}
.care-1 {
  background-color: $color__background_blue;
}
.care-2 {
  background-color: $color__background_orange;
}
.care-3 {
  background-color: $color__background_red;
}
.care-1, .care-2, .care-3 {
  border-top: 2px solid #fff;
  padding: 8% 13% 12%;
  margin: 0.3em;
  h2 {
    text-align: center;
  }
  h4 {
    padding-top: 1.2em;
  }

  a {
    @include font-size(1.6);
    text-decoration: underline;
    line-height: 1.5;
  }

  p {
    padding: 0em 0em 1.6em;
    font-weight: 300;
    border-bottom: 1px solid #fff;
  }
}
.care-1, .care-2, .care-3, .care-4 {
  h2 {
    font-family: $font__headings, sans-serif;
    @include font-size(2.2);
    line-height: 1.3;
    padding: 0.4em 0em 0.4em;
  }
  p {
    color: #fff;
  }
}

// page-audit


.audit-image {
  background-color: $color__background_blue;
}
.audit-image-vector {
  margin: 0 auto;
  width: 60%;
}
.care-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
.care-4 li {
  color: #fff;
  padding: 2.6em 0;
  @include font-size(1.0);
  line-height: 1.4;
}

.audit-image-vector {
  width: 32%;
  padding: 2em 0.6em 0.4em 0;
}
.audit-content-1, .audit-content-2 {
  width: 100%;
}
.care-4 li {
  padding: 1em 1em 1.6em 0.2em;
  @include font-size(1.1);
  line-height: 1.4;
}
// misc

.search-header {
  margin: 3em 0 0;
}


// Medium screens

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {


  // Layout

  .row-top-pad, .row-tb-pad, .single-blog  {
    padding-top: 10%;
  }
  .row-bottom-pad, .row-tb-pad, .single-blog  {
    padding-bottom: 10%;
  }
  .text-content-area {
    max-width: 640px;
    width: 82%;
  }
  .split-content-area {
    max-width: 640px;
    width: 80%;
  }
  .image-content-area {
    max-width: 1000px;
  }

  // page-wpcare

  .skills-image {
    padding-bottom: 0.6em;
    width: 60%;
    margin: 0 auto;

  }

  .front-skills {
    flex: 1 auto;
    width: 100%;
  }
  .front-skills-text {
    padding-top: 7%;
    padding-bottom: 10%;

    h2 {
      line-height: 1.3;
      @include font-size(3);
      padding: 0em 0 1.8em;
    }
  }
  .care-1, .care-2, .care-3 {
    padding: 6% 18% 10%;
    margin: 0.3em 0.7em;
    h2 {
      text-align: center;
    }
    h4 {
      padding-top: 1.6em;
    }
    p {
      padding: 1em 0 2.4em;
      line-height: 1.6;
      @include font-size(1.2);
    }
    a {
      @include font-size(2.6);
      line-height: 1.4;
    }
  }
  .care-1, .care-2, .care-3, .care-4 {
    h2 {
      @include font-size(4.2);
      padding: 0.4em 0em 0.4em;
    }
  }
  // page-audit

  .audit-image-vector {
    width: 22%;
    padding: 2em 1.4em 2em 0;

  }
  .audit-content-1, .audit-content-2 {
    width: 48%;
  }
  .care-4 li {
    padding: 0em 1.4em 3.6em 0.2em;
    @include font-size(1);
    line-height: 1.5;
  }



} /* min-width 641px to max-width 1024px */



// Large screens

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {

  // Layout

  .row-top-pad, .row-tb-pad, .single-blog {
    padding-top: 9.2%;
  }
  .row-bottom-pad, .row-tb-pad, .single-blog {
    padding-bottom: 14%;
  }
  .text-content-area {
    width: 90%;
    margin: 0 auto;
    max-width: 780px;
  }
  .split-content-area {
    width: 90%;
    max-width: 800px;
  }
  .image-content-area {
    max-width: 1080px;
  }
  .figure-content-margin {
    padding-top: 2.2%;
  }

  // page-wpcare

  .skills-image {
    padding-bottom: 1em;
    width: 100%;
    margin: 0 auto;
  }
  .front-skills {
    width: 33%;
  }
  .front-skills-text {
    padding: 14% 16%;
    h2 {
      @include font-size(3);
      line-height: 1.3;
      width: 100%;
    }
    a {
      @include font-size(1.4);
    }
  }
  .care-1, .care-2, .care-3 {
    padding: 6% 15.3% 16%;
    margin: 0 0.3em;
    h2 {
      text-align: center;
    }
    h4 {
      padding-top: 2.2em;
    }
    p {
      padding: 1.6em 0em 1.8em;
      @include font-size(1.1);
      line-height: 1.4;
      margin-bottom: 0em;
    }
    a {
      @include font-size(1.8);
      line-height: 1.4;
      max-width: 100%;
    }
  }
  .care-1, .care-3 {
    height: auto;
  }
  .care-2 {
    height: auto;
  }
  .care-1, .care-2, .care-3, .care-4 {
    h2 {
      @include font-size(2.7);
    }
  }
  .care-header {
    padding-bottom: 4em;
  }

  // page-audit

  .front-audit-care {
    width: 50%;
  }
  .audit-image-vector {
    padding: 2.4em 2em 2em 0;
    width: 18%;
  }
  .audit-content-1, .audit-content-2 {
    width: 46%;
  }
  .care-4 li {
    padding: 0em 1em 3.6em 0.5em;
    @include font-size(1.3);
    line-height: 1.6;
  }

} /* min-width 1025px to max-width 1440px */


// xtra-Large screens

@media only screen and (min-width: 90.0625em) {

  // Layout

  .row-top-pad, .row-tb-pad, .single-blog {
    padding-top: 7.2%;
  }
  .row-bottom-pad, .row-tb-pad, .single-blog {
    padding-bottom: 8.6%;
  }
  .text-content-area {
    width: 70%;
    margin: 0 auto;
    max-width: 720px;
  }
  .image-content-area {
    max-width: 1160px;
  }
  .split-content-area {
    max-width: 1080px;
  }
  .figure-content-margin {
    padding-top: 1.1%;
  }

  // page-wpcare

  .skills-image {
    width: 60%;
    margin: 0 auto 1em;
  }
  .skills-area > * {
    padding-right: 0px;
  }
  .front-skills {
    width: 33%;
  }

  .front-skills-text {
    padding: 12% 6% 15% 8.8%;
    a {
      @include font-size(2.2);
    }
    h2 {
      @include font-size(3.8);
      line-height: 1.3;
      width: 100%;
    }
  }


  .care-1, .care-2, .care-3 {
    padding: 12% 20% 14%;
    margin: 0em 0.3em;
    h2 {
      text-align: center;
    }
    h4 {
      padding-top: 1.2em;
    }
    a {
      @include font-size(1.8);
      line-height: 1.4;
      max-width: 100%;
    }
    p {
      padding: 0 0 2em;
      @include font-size(1.2);
      line-height: 1.5;
    }
  }
  .care-1, .care-3 {
    height: auto;
  }
  .care-2 {
    height: auto;
  }
  .care-1, .care-2, .care-3, .care-4 {
    h2 {
      @include font-size(3.3);
      line-height: 1.3;
      padding: 0.4em 0 0.4em;
    }
  }
  .care-header {
    padding-bottom: 4em;
  }

  // page-audit

  .front-audit-care {
    width: 47%;
    h2 {
      width: 70%;
    }
  }
  .audit-image-vector {
    padding: 3em 2.8em 3em 0;
    width: 17%;
  }
  .audit-content-1, .audit-content-2 {
    width: 46%;
  }
  .care-4 {
    li {
      padding: 0em 1em 3.6em 0.5em;
      @include font-size(1.4);
      line-height: 1.6;
    }
  }
  // misc
  .search-header {
    margin: 4em 0 0;
  }

} /* min-width 1441px */